<!DOCTYPE html>
<html >
<head>

<!-- <script src="iosBridge.js" type="text/javascript"></script> -->
<script type="text/javascript" src="lib/jq.mobi.js"></script>
<script type="text/javascript" src="lib/jsrender-1.0.js"></script>
<script type="text/javascript" src="lib/iscroll.js"></script>
<script type="text/javascript" src="src/articleRenderer.js"></script>
<script type="text/javascript" src="src/template.js"></script>

<script>

console.time("init");

var articleData = JSON_DATA_VARIABLE;
if (articleData == null) {
	require("src/sampleArticles.js", function() {
		articleData = sampleArticles[0].definition;
		init();
	});
}

var templateData = TEMPLATE_DATA_VARIABLE;
if (templateData == null) {
	require("src/defaultTemplates.js", function() { 
		templateData = defaultTemplates.front3;
		init();
	});
}

$(document).ready(function() { init(); });

function init() {
	if (articleData != null && templateData != null) {
	    renderArticle();
		console.timeEnd("init");
	}
}

function require(file, callback) {
	var script = document.getElementsByTagName('script')[0],
	newjs = document.createElement('script');

	// IE
	newjs.onreadystatechange = function () {
		if (newjs.readyState === 'loaded' || newjs.readyState === 'complete') {
			newjs.onreadystatechange = null;
			callback();
		}
	};

	// others
	newjs.onload = function () {
		callback();
	}; 
	newjs.src = file;
	script.parentNode.insertBefore(newjs, script);
}

function renderArticle() {
	var body = document.getElementsByTagName("body")[0];
	var padding = window.getComputedStyle(body, null).getPropertyValue('padding-top');
	padding = parseInt(padding);

	console.time("renderPage");
	var renderer = new ds.ArticleRenderer();
	var rendererOutput = renderer.renderBody(templateData, articleData, { 
		"orientation":"portrait",
		"width":$(window).width() - padding * 2,
		"height":$(window).height() - padding * 2
	});
	console.timeEnd("renderPage");

	console.time("displayPage");
	$("#contents").html(rendererOutput);
	console.timeEnd("displayPage");
}

</script>

<link rel="stylesheet" type="text/css" href="src/renderRuntime.css">
<script type="text/javascript" src="src/renderRuntime.js"></script>

</head>
<body style="margin:0px; padding:16pt;">
<div id="contents" style="position:relative;">

Loading ...

</div>
</html>